boto3
langchain
faiss-cpu
streamlit
awscli
langchain_aws
langchain
dotenv
bs4
langchain-community
pypdf
ipykernel
langchain-text-splitters
sentence_transformers
langchain-huggingface
faiss-cpu
langchain-chroma
langchain-ollama
langchain-classic
langchain-groq
fastapi
uvicorn
langserve[all]
arxiv
torchvision
wikipedia
ddgs
